
html{
    overflow: visible;
    
}
/*Header*/
.header{
    display: flex;
    justify-content: space-between;
    font-family: NeueMachina-Regular;
    color: white;
    background-color: black;
    height: 10vh;
    padding: 3vh;
}
.header-logo{

}
.header-plus{

}

/*WriteHere*/
.write{
    font-family: NeueMachina-Regular;
    background-color: red;
    height: 90vh;
    display: flex;
    justify-content: space-between;
}
.write-header{
    display: flex;
    justify-content: space-between;
    font-family: NeueMachina-Regular;
    color: white;
    height: 10vh;

}
.write-left{
    width: max(46%,500px);
    margin: 2%;
}
.write-right{
    width: max(46%,500px);
    padding: 2%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.write-header-left{

}
.write-header-right{

}
.write-inputsection{

}
.write-input{
    width: 100%;
    height: 70vh;
    background: transparent;
    border: transparent;
    outline: none;
    font-size: 50px;
    color: black;
}
.write-footer{
    color: white;
}
.write-input::placeholder{
    color: black;
}
.cube-table{
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(30, 1fr);
    justify-items: center;
    align-items: center;
    width: 30vw;
    height: 30vw;
}
.cube-block{
    width: .8vw;
    height: .8vw;
}
.incomplete-true{
    filter: brightness(0) invert(1);
    height: .5vw;

}
.incomplete-false{
    height: .5vw;
    filter: invert(15%) sepia(99%) saturate(6825%) hue-rotate(359deg) brightness(97%) contrast(111%);
}
.cube-render{
    width: 30vw;
    position: absolute;
    top: 40%;
}

/*Footer*/
.footer-body{
    background-color: red;
    font-family: NeueMachina-Regular;
}
.footer-main{
    padding: 2%;
}
.footer-header{
    display: flex;
    justify-content: space-between;
}
.footer-footer{
    display: flex;
    justify-content: space-between;
}
.footer-left{
    width: 50%;
}
.footer-right{
    display: flex;
    flex-direction: column;
}
