
html{
    overflow: visible;
    
}
/*Header*/
.header{
    display: flex;
    justify-content: space-between;
    font-family: NeueMachina-Regular;
    color: white;
    background-color: black;
    height: 10vh;
    padding: 2%;
}
.header-logo{

}
.header-plus{

}

/*WriteHere*/
.write{
    font-family: NeueMachina-Regular;
    background-color: orangered;
    height: 90vh;
    padding: 2%;
    display: flex;
    justify-content: space-between;
}
.write-header{
    display: flex;
    justify-content: space-between;
    font-family: NeueMachina-Regular;
    color: white;
    height: 10vh;

}
.write-left{
    width:46%;
}
.write-right{
    width:46%;
}
.write-header-left{

}
.write-header-right{

}
.write-inputsection{

}
.write-input{

}
.cube-table{
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(30, 1fr);
    justify-items: center;
    align-items: center;
    width: 40vw;
    height: 40vw;
}
.cube-block{
    width: 1vw;
    height: 1vw;
}
.incomplete-true{
    filter: brightness(0) invert(1);
    height: 1vw;

}
.incomplete-false{
    height: 1vw;

}

/*Footer*/
.footer-body{
    background-color: red;
    font-family: NeueMachina-Regular;
}
.footer-main{
    padding: 2%;
}
.footer-header{
    display: flex;
    justify-content: space-between;
}
.footer-footer{
    display: flex;
    justify-content: space-between;
}
.footer-left{
    width: 50%;
}
.footer-right{
    display: flex;
    flex-direction: column;
}
