/* Mobile browser */
@media only screen and (max-width: 720px) {
    .Clock-days{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 100vw;
        border-bottom: 3px solid black;
        -webkit-box-shadow:inset 0px -2px black;
        -moz-box-shadow:inset 0px -2px black;
        box-shadow:inset 0px -2px black;
    }
    .Clock-hours{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 100vw;
        border-bottom: 3px solid black;
        -webkit-box-shadow:inset 0px -2px black;
        -moz-box-shadow:inset 0px -2px black;
        box-shadow:inset 0px -2px black;
    }
    .Clock-minutes{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 100vw;
        border-bottom: 3px solid black;
        -webkit-box-shadow:inset 0px -2px black;
        -moz-box-shadow:inset 0px -2px black;
        box-shadow:inset 0px -2px black;
    }
    .Clock-seconds{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 100vw;
        border-bottom: 3px solid black;
        -webkit-box-shadow:inset 0px -2px black;
        -moz-box-shadow:inset 0px -2px black;
        box-shadow:inset 0px -2px black;
    }
    .whiteText{
        color: white;
        font-size: 5vmax;
    }
}
@media only screen and (min-width: 721px) {

    .whiteText{
        color: white;
        text-decoration: underline;
        font-size: 5vmax;
    }
    .clockDiv {
        text-decoration: underline;
        text-decoration-thickness: .5vmax;

    }
}